body{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

/*--------------------------------NAVBAR------------------------------*/

.navbar{
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    grid-template-rows: 100%;
    height: 20%;
    background-color: #8f8f8f;
}

.navbar .navbar-item{
    text-align: center;
    padding: 1em 0em;
    height: 30%;
}

.navbar img{
    width: 3em;
    height: 3em;
}

.navbar a{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.navbar a:hover{
    color: #414141;
    font-size: 1.15em;
}

/*------------------------------TARJETAS------------------------------*/

.block-contCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.contCard{
    display: flex;
    align-items: center;
    height: 10em;
    width:  29em;
    border-radius: 2em;
    box-shadow: 0.15em 0.15em #474554;
    padding: 1em 1em;
    margin: 1em 1em;
    background-color: #F2ECFF;
}

.contCard img{
    height: 8.5em;
    width:  8.5em;
    border-radius: 50%;
}

.contCard .cont-info{
    padding-left: 1.5em;
}

.contCard .cont-info p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.55em;
    font-size: 0.9em;
}








